{{ 'custom-banner.css' | asset_url | stylesheet_tag }}
{% style %}
  .section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    position: relative;
  }

  .section-{{ section.id }}
  .gift-wrap-button-container a {
    background-color: {{ section.settings.button_bg_color }};
    color: #ffffff;
  }

  .section-{{ section.id }}
  .gift-wrap-button-container a.animated-link svg path {
    fill: #ffffff;
  }

  .section-{{ section.id }} a.animated-link {
    background: linear-gradient(to right, #FFF544 50%, {{ section.settings.button_bg_color }} 50%);
    background-size: 200% 102%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out
    , color 0.5s ease-out;
    width: fit-content;
  }

  .section-{{ section.id }} a.animated-link:hover {
    background-position: left bottom;
    color: #000000;
  }

  .section-{{ section.id }}.gift-wrap-button-container a.animated-link:hover svg path {
    fill: #000000 !important;
  }

  .banner-text-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 50px;
    {% if section.settings.content_bg_color != blank %}
      background-color: {{ section.settings.content_bg_color }};
    {% endif %}
  }

  .banner-bottom-content {
    font-family: var(--font-heading-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
  }

  @media screen and (min-width: 906px) {
    h2.banner-text-content__head {
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .banner-text-content {
      position: absolute;
      height: auto;
      width: 100%;
      max-width: 600px;
      padding: 50px;
    }

    .desktop-content-position-{{ section.settings.desktop_content_position }} {
      {% if section.settings.desktop_content_position == 'top-left'%}
            top: 50px;
            left: 0;
        {% elsif section.settings.desktop_content_position == 'top-center' %}
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
      {% elsif section.settings.desktop_content_position == 'top-right' %}
        top: 50px;
        right: 0;
      {% elsif section.settings.desktop_content_position == 'middle-left' %}
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      {% elsif section.settings.desktop_content_position == 'middle-center' %}
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      {% elsif section.settings.desktop_content_position == 'middle-right' %}
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      {% elsif section.settings.desktop_content_position == 'bottom-left' %}
        bottom: 0;
        left: 0;
        transform: translateY(0%);
      {% elsif section.settings.desktop_content_position == 'bottom-center' %}
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      {% else %}
        bottom: 50px;
        right: 0;
      {% endif %}
    }
  }
{% endstyle %}
<div class="custom-banner section-{{ section.id }}">
  <div class="mobile-view banner-text-content-outer-wrapper">
    {% if section.settings.heading != blank %}
      <h2 class="banner-text-content__head">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.richtext != blank %}
      <div class="text-content__richtext-wrapper">
        {{ section.settings.richtext | truncatewords: 7 | replace: '...', '' }}
      </div>
    {% endif %}
  </div>
  <div class="banner-container">
    {% if section.settings.banner != blank %}
      <img
        src="{{ section.settings.banner | image_url: width: 2400 }}"
        alt="{{ section.settings.banner.alt }}"
        width="{{ section.settings.banner.width }}"
        height="{{ section.settings.banner.height }}"
      >
    {% else %}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
    {% if section.settings.banner_button_url != blank %}
      <div class="mobile-view-btn gift-wrap-button-container">
        <a href="{{ section.settings.banner_button_url }}" class="animated-link">
          {{- section.settings.banner_button_text }}
          <span>{% render 'arrow' %}</span>
        </a>
      </div>
    {% endif %}
  </div>
  <div class="page-width banner-text-content-outer-wrapper">
    <div class="banner-text-content desktop-content-position-{{ section.settings.desktop_content_position }}">
      {% if section.settings.heading != blank %}
        <h2 class="banner-text-content__head">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.richtext != blank %}
        <div class="text-content__richtext-wrapper">
          {{ section.settings.richtext }}
        </div>
      {% endif %}
      {% if section.settings.banner_button_url != blank %}
        <div class="gift-wrap-button-container">
          <a href="{{ section.settings.banner_button_url }}" class="animated-link">
            {{- section.settings.banner_button_text }}
            <span>{% render 'arrow' %}</span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% if section.settings.banner_bottom_text != blank %}
    <div
      class="banner-bottom-content desktop-view"
      style="background-color: {{ section.settings.banner_bottom_text_bg_color }}; text-align: center;"
    >
      {{ section.settings.banner_bottom_text }}
    </div>
  {% endif %}
  {% if section.settings.mob_banner_bottom_text != blank %}
    <div
      class="banner-bottom-content mobile-view"
      style="background-color: {{ section.settings.banner_bottom_text_bg_color }}; text-align: center;"
    >
      {{ section.settings.mob_banner_bottom_text | truncatewords: 6 }}
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "step": 10,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "step": 10,
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Select banner"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "Content Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Banner Content"
    },
    {
      "type": "text",
      "id": "banner_button_text",
      "label": "Button Text"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-center",
      "label": "Middle Center"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "banner_bottom_text",
      "label": "Banner Bottom Text"
    },
    {
      "type": "text",
      "id": "mob_banner_bottom_text",
      "label": "Mobile Banner Bottom Text",
      "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
    },
    {
      "type": "color",
      "id": "banner_bottom_text_bg_color",
      "label": "Banner Bottom Text Background",
      "default": "#F5F5F5"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
